/*Font personnalisée*/
@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf');
}
/*général*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'raleway', sans-serif;   
}
li {
    list-style: none;
}
h1 {
    color: black;
    font-size: 22px;
}
h2 {
    color: black;
    font-size: 20px;
}
/*structure du header*/
nav{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid orange; */
}
#banner {
    /* border: rgb(255, 255, 0) 2px solid; */
    display: flex;
    justify-content: space-between;
}
#logo {
    /* border: 1px solid black; */
    width: 95px;
}
#sign {
    /* border: 1px solid black; */
    align-self: center;   
}
nav ul { 
    /* border: 1px solid black; */
    display: flex;
    margin: 30px;
    justify-content: flex-end;   
}
nav li {
    margin: 0 20px 0 20px;
}
/*structure section 1*/
/* #found {
    border: 2px solid red; 
}*/

.filters {
    display: flex;
    align-items: center;
    position: relative;
}
/* .filters h5 {
    position:absolute;
} */
.filters ul {
    display: flex;
    justify-content: left;   
}
.filters li {
    margin: 0 10px 0 20px
}
small span >i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border-radius: 50% ;
    border: solid grey 1px;
    height: 22px;
    width: 22px;
    text-align: center;
    margin: 0 0 0 6px;
    padding: 5px 0 0 0;
    font-size: 10px;
    
      
}
#location {
    display: flex;
    flex-direction: row-reverse;
}
/*conteneur section 2 et aside*/
#main-content {
    display: flex;
}
/*section Hébergement*/
#accommodation {
    border: 1px solid red;
    display: flex;
    flex-direction: column;    
}
.marseille {
    display: flex;
    justify-content: space-between;
}
.marseille ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;       
}
.hostel-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
    border: black solid 1px;  
}
.hostel-list img{
    justify-content: flex-start;
    border: solid 1px blue;
    width: 240px;
    height: 115px;    
}
/*aside*/
#popular {
    border: blue solid 1px; 
}
aside h2 {
    display: flex;
    justify-content: space-around;
}
.hostel {
    display: flex;
    border: solid 1px black;   
}
.hostel img {
    border: solid 1px blue;
    justify-content: flex-start;
    width: 130px;
    height: 135px;
}
/*activités*/
#activities {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
}
/* .cover {
    object-fit: cover;
} */
#todo article img {
    width: 100%;
}

#todo {
    /* border: solid 1px blue; */
    display: flex;
    justify-content: space-between;
    height: 450px;
    gap: 40px;   
}
#todo > * {
    flex: 1 1 auto;
}
#todo a {
    display: block;
    height: 100%;
}
#todo > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tierce > * {
    flex: 1 1 auto;    
}
.tierce > *:nth-child(1) {
    flex: 1.2 1 auto;
}
.half > * {
    flex: 0.9 1 auto;    
}
.half > *:nth-child(2) {
    flex: 1 1 auto;
}
/* #todo article {
    position: relative;    
} */
#todo article h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 19px 0;
    /* position: absolute; */
    left: 0px;
    bottom: 0px;
    width: 100%;    
}
.todo1 {
    border-radius: 20px;
    box-shadow: 6px 6px 5px #f2f2f2;    
}
.todo2 {
    border-radius: 20px;
    box-shadow: 6px 6px 5px #f2f2f2;   
}
.todo3 {
    border-radius: 20px;
    box-shadow: 6px 6px 5px #f2f2f2;    
}
.todo4 {
    border-radius: 20px;
    box-shadow: 6px 6px 5px #f2f2f2;    
}
.todo5 {
    border-radius: 20px;
    box-shadow: 6px 6px 5px #f2f2f2;    
}
.todo6 {
    border-radius: 20px;
    box-shadow: 6px 6px 5px #f2f2f2;    
}
/*footer*/
footer {
    /* border: 1px green solid; */
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.column h4 {
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
}
.column {
    padding: 40px 0 20px 30px;
    width: 70%;    
}
.column ul {
    padding: 0;
    margin-top: 10px;
}
.column a {
    text-decoration-line: none;
    color: black;
}
.column li {
    padding: 4px 0;
}