/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'raleway';
    src: url(fonts/Raleway/static/Raleway-Medium.ttf);
}
html{
    font-size: 62.5% ;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, p {
	line-height: 1.5;
    font-family: 'raleway', sans-serif;
}
input {font-family: 'raleway';}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Début de mon CSS personnel*/ 
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-size: 1.3rem;
}
h1 {
    font-size: 2rem;

}
h2 {
    font-size: 2rem;    
}
h3 {
    font-size: 1.6rem;
}
h4, .fa-star {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}


main, header, .wrapper {
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    color: #0065FC;
    cursor: pointer;
}
/*header*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;   
}
#logo {
    width: 120px;
}
#banner {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    font-size: 1.6rem;
}
nav ul{
    margin: 0 10px;
}
nav li a{
    display: block;
    padding: 40px 30px 0;
    margin-bottom: 40px;
    border-top: 4px solid transparent;
} 

#banner li .nav:hover {
    border-top: 4px solid;
    border-color: #0065fc;
    font-weight: bold;
}
#banner a:hover {
    color: #0065fc;    
}
#sign {
    color: #0065fc;
    font-weight: bold;
    font-size: 1.6rem;
    padding-right: 20px ;
}

/*structure section 1*/
#found {
    margin: 30px 0;
}
.found i {
    border: #f2f2f2 2px solid;
    border-right: #f2f2f2 4px solid;
    padding: 10px 8px 10px 12px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
}
.subtitle {
    font-size: 1.6rem;
} 
.field {
    display: flex;
    font-family: 'raleway';
    font-weight: bold;
    font-size:1.6rem;
}
.field input {
    border: #f2f2f2 2px solid;
    border-right: white;
    padding-left: 10px;
    margin: 0;
    border-radius: 0;
    font-size: 1.6rem;
}
.field #button{
    background-color: #0065FC;
    color: white;
    border-radius: 0 10px 10px 0;
    border: #0065fc 2px solid;
}
.field #button:hover{
    cursor: pointer;
    color: #0065FC;
    background-color: #f2f2f2;
    border: #f2f2f2 2px solid;

}
.found {
    margin: 20px 0;
}
.filters {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: bold;
}
.filters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 10px;   
}
.filters li {
    display: flex;
    margin: 0 10px 0 20px;
    display: flex;
    align-items: center;
    text-align: center;    
}
.filters i {
    background-color: #deebff;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: #0065FC;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
} 
#found button {
    display: flex;
    font-family: 'raleway';
    font-weight: bold;
    border-radius: 25px;
    border: solid 1px #f2f2f2;
    border-left: none; 
    background-color: white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    padding: 0;
    align-items: center;
    font-size: 1.6rem;          
}
#found button span{
    padding: 0 15px 0 5px;
    display: flex;
    
}
#important {
    margin: 10px 10px 10px 0;
    display: block;
}
/*INFOS*/
p span >i {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #0065FC;
    border-radius: 50% ;
    border: solid grey 1px;
    height: 22px;
    width: 22px;
    text-align: center;
    margin-right: 2px;
    padding-top: 5px ;
    font-size: 1rem;
}
#search {
    color: black;
}
#found .fa-search {
    display: none;
    background-color: #0065FC;
    color: white;
    border-radius: 12px;
    border: none;
}
#location {
    display: flex;
    flex-direction: row-reverse;
}

/*mise en forme de la section hebergement à Marseille et aside les plus populaires*/
#main-content {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    gap: 40px
}

#main-content h2 {
    margin-bottom: 25px;
}

/*Hébergement*/
#accommodation {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 40px;
    max-width: 880px;
    /* margin-right: 40px; */
    border-radius: 25px;
}
.marseille {
    display: flex;
}
.marseille ul{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.hostel-list h5 {
    margin: 3px 0;
    padding-bottom: 5px;
}
.hostel-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    border-radius: 25px ;
    background-color: white;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.1 );    
}
.hostel-list img{
    justify-content: flex-start;
    border-radius: 20px 20px 0 0;
    width: 240px;
    height: 115px;
    object-fit: cover;
} 
.hostel-list figcaption{
    padding: 10px 10px 5px;
}
.stars {
    padding-top: 8px;
}
.fa-star { 
    color: #0065FC;
}
.fa-star.grey {
    color: #d9d9d9;
}
#accommodation button {
    display: flex;
    margin-top: 45px;
    border: none;
    background-color: #f2f2f2;
    font-family: 'raleway';
    font-size: 1.6rem;
    font-weight: bold;
}

/*aside*/
#popular {
    display: flex;
    flex-direction: column;
    border: #f2f2f2 solid 1px;
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 25px;
    /* /* min-width: 420px;*/
}
aside h2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
}
.hostel {
    display: flex; 
    border: white 5px solid;
    border-radius: 25px ;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1 );      
}
.hostel figcaption {
    padding: 0 10px 0 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
}
.hostel .aside-stars {
    margin-top: auto ;
}
#popular li:last-child figure {
    margin-bottom: 0;
}
.hostel img {
    justify-content: flex-start;
    border-radius: 20px 0 0 20px ;
    width: 130px;
    height: 135px;
    object-fit: cover;
}

/*Activités*/
#activities{
    display: flex;
    flex-direction: column;
    margin: 65px 0 60px 0;
}
#activities h2{
    margin-bottom: 25px;
}
.main-todo {
    display: flex;
    gap: 40px;
}
.main-todo h4{
    padding: 20px;
}
.half {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 45px;
}
.main-todo article {
    border-radius: 20px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.1);
    overflow: hidden; 
}
.main-todo img {
    width: 100%;
    object-fit: cover;
    height: 390px;
}
.main-todo figure{
    display: flex;
    flex-direction: column;
}
.todo1 img {
    height: 180px;
}
.todo2 img {
    height: 109px;
}
.todo3 img{
    height: 140px;
}
.todo4 img {
    height: 155px;
}
/*footer*/
footer {
    background-color: #f2f2f2;
}
footer .wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}
.column h4 {
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
}
.column {
    padding: 40px 0 20px 0;
    flex-basis: 70%;
}
.column ul {
    padding: 0;
    margin-top: 10px;
    font-size: 1.3rem;
}
.column a {
    text-decoration-line: none;
    color: black;
}
.column li {
    padding: 4px 0;
}

/*responsive mobile*/
@media screen and (max-width:338px) {
    main, header, .wrapper {
        width: auto;
        flex: none;

    }
    /*header*/
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #logo {
        order:1;
        margin-left: 20px;
    }
    #sign {
        order: 2;
    }
    #banner {
        order: 3;
        width: 100%;
        justify-content: space-around;
    }
    /*design nav*/
    nav li a{
        display: block;
        padding:  40px 40px 20px 40px;
        margin-bottom: 40px;
        border-bottom: 4px solid #f2f2f2;
    } 
    
    #banner li .nav:hover {
        border-bottom: 4px solid;
        border-color: #0065fc;
        font-weight: bold;
    }
    #banner a:hover {
        color: #0065fc;    
    }
    /*section1*/
    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filters ul{
        flex-wrap: wrap;
        margin-left: 0;
    }
    .filters li {
        margin: 5px;
    
    }
    #found {
        margin: 0 20px;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    #found .fa-search {
        display: flex;
    }
    #found #button span{
        display: none;
    }
    
    #important {
        display: flex;
        gap: 5px;
        /* margin-left: 10px; */
    }
    #important p {
        font-size: 1rem;
    }
    /*section 2 et aside*/  
    #main-content {
        flex-direction: column-reverse;
        width: 100%;
    }
    #popular {
        width: 100%;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 0;
    }
    #accommodation {
        padding: 10px;
        margin: 0;
        width: 100%;
        background:none;
    }
    .marseille li{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .marseille img {
        width: auto;
    }
    /* #popular img {
        
    } */
    /*activités*/
    #activities {
        margin: 10px;
    }
    .main-todo {
        flex-direction: column;
    }
    .block img{
        height: 170px;
    }
    /*footer*/
    .wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        padding: 20px;
    }
    .column {
        padding: 0;
    }
    


    
}