/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'raleway';
    src: url(fonts/Raleway/static/Raleway-Medium.ttf);
}
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Début de mon CSS personnel*/ 

* {
    box-sizing: border-box;
}
body {
    font-family: 'raleway';
}
a {
    text-decoration: none;
    color: black;
}
h * {
    font-weight: bold;
    color: black;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 20px;    
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}

/*header*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
}
#logo {
    width: 120px;
}
#banner {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    font-size: 16px;
}
nav ul{
    margin: 0 10px;
}
nav li {
    padding: 40px 30px;
    border-top: 4px solid white;
} 
/*essai nav dynamique*/  
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.5s;
}    

#banner li:hover {
    border-top: 4px solid;
    border-color: #0065fc;
    font-weight: bold;
}
#banner a:hover {
    color: #0065fc;    
}
#sign {
    color: #0065fc;
    font-weight: bold;
    font-size: 16px;
    padding-right: 20px ;
}
/*structure section 1*/
#found {
    margin: 30px 20px;
}
.found i {
    border: #f2f2f2 1px solid;
    border-right: #f2f2f2 4px solid;
    padding: 10px 12px 10px 12px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
}
/*A REVOIR PB*/
.field {
    border: solid #f2f2f2 2px;
    display: block;
}
.found {
    margin: 20px 10px;
}
.filters {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    font-weight: bold;
}
.filters ul {
    display: flex;
    justify-content: left;
    margin-left: 10px;   
}
.filters li {
    margin: 0 10px 0 20px;
    padding: 0 20px 0 0px;
    border: solid 2px #f2f2f2;
    border-radius: 16% / 50%;
    font-size: 16px;
}
.filters i {
    background-color: rgb(0, 101, 252, 0.3);
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    color: #0065FC;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
}
#important {
    margin: 10px 10px;
    display: block;
}
p span >i {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #0065FC;
    border-radius: 50% ;
    border: solid grey 1px;
    height: 22px;
    width: 22px;
    text-align: center;
    margin: 0 2px 0 6px;
    padding: 5px 0 0 0;
    font-size: 10px;     
}
#location {
    display: flex;
    flex-direction: row-reverse;
}
button {
    display: flex;
    
}

/*mise en forme de la section hebergement à Marseille et aside les plus populaires*/
#main-content {
    display: flex;
}
#main-content h2 {
    margin:47px 0 28px 0;
}

/*Hébergement*/
#accommodation {
    display: flex;
    flex-direction: column;
    border: #f2f2f2 solid 1px;
    background-color: #f2f2f2;
    margin: 0 37px 0 50px;
    border-radius: 25px;
    min-width: 66%;
}
#accommodation h2 {
    margin-left: 40px ;
}
.marseille {
    display: flex;
    border: #f2f2f2 1px solid;
    margin: 0 40px;
    
}
.marseille ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hostel-list h5 {
    margin: 3px 0;
}
.hostel-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: white 5px solid;
    border-radius: 20px ;
    background-color: white;
    margin: 0 30px 30px 0;
}
.hostel-list img{
    justify-content: flex-start;
    border-radius: 20px 20px 0 0;
    width: 240px;
    height: 115px;
    object-fit: cover;
} 
.fa-star { 
    color: #0065FC;
}
.fa-star.grey {
    color: #f2f2f2;
}

/*aside*/
#popular {
    border: #f2f2f2 solid 1px;
    background-color: #f2f2f2;
    padding: 0 40px 0 37px;
    margin: 0 50px 0 0px;
    border-radius: 25px; 
}
aside h2 {
    display: flex;
    justify-content: space-between;
}
.hostel {
    display: flex;
    border: solid 1px black; 
    border: white 5px solid;
    border-radius: 20px ;
    background-color: white;
    margin: 0 0 30px  0;  
}
figcaption {
    margin: 4px;
}
.hostel img {
    justify-content: flex-start;
    border-radius: 20px 0 0 20px ;
    width: 130px;
    height: 135px;
    object-fit: cover;
}

/*Activités*/
#activities {
    margin:20px;
}
#todo {
    display: flex;
    flex: 1 1 auto;
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.column h4 {
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
}
.column {
    padding: 40px 0 20px 30px;
    width: 70%;    
}
.column ul {
    padding: 0;
    margin-top: 10px;
}
.column a {
    text-decoration-line: none;
    color: black;
}
.column li {
    padding: 4px 0;
}